#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#film-poster {
  padding-bottom: 0;
  margin: 0;
  size-adjust: auto;
  border: 3px solid #2d6f7b;
  border-radius: 1%;
}

#page-icon {
  width: 50px;
  left: 20%;
  margin-right: 20cm;
}

#title {
  font-style: normal;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  margin-right: 20cm;
  position:a;
  top: 0;
  right: 0;
}

#white-space {
  padding-bottom: 10px;
  margin: 0;
}

#page-header {
  padding-bottom: 1%;
}

#create-button {
  margin-left: 1%;
}

#list-button {
  margin-left: 85%;
}